@import url('filter.css');




.for_admin p a,
.for_admin p a:visited,
.for_admin p a:hover,
.for_admin p a:active {
    color: #333;
    text-decoration: none;
}

.card1 {
    width: 300px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f8f8f8;
    margin: 0 auto;
}

.card1 img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-info1 {
    padding: 15px;
    font-size: 14px;
}

.card-info1 p {
  margin-bottom: 10px;
}


